input, textarea, select, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width : 205px;
    box-sizing: auto;
}

fieldset {
    position: absolute;
    border-color: rgb(29, 29, 116);
    color: rgb(41, 39, 39);
}
  
legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
    position: relative;
    bottom: 0;
    right: 0;
}

h1 {
    font : 1em "typewriter", monospace;
    align-self : end;
  }
